/* file input section */
#fileInput {
    height: 10rem;
    margin-top: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
}

/* Select PDF files button */

#uploadFileBtn:hover {
    background-color: #5877f3;
    transition: 0.3s;
    cursor: pointer;
}

#uploadFileBtn {
    width: 20rem;
    height: 5rem;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #190066;
    font-weight: 1000;
}

#uploadFileTxt {
    text-align: center;
    font-weight: 5;
    color: rgb(105, 102, 102);
    margin-top: 10px;
    font-size: 12px;
}

#fileDisplay {
    margin-top: 20px;
    width: 40rem;
    display: block;
    justify-self: center;
    display: none;
}

#fileDisplay ul li {
    margin-bottom: 10px;
    list-style-type: none;
    border-radius: 5px;
    padding-left: 10px;
    background-color: #FFFF;
    color: black;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.convertResetAddBtns {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.convertResetAddBtns button:hover {
    background-color: black;
    cursor: pointer;
    transition: 0.2s;
}

.convertResetAddBtns button {
    width: 5rem;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    color: white;
    background-color: #190066;
    font-size: 12px;
    font-weight:lighter;
};